/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


//@import "bootstrap/_bootstrap.scss";

*{
	box-sizing: border-box;
}

html,
body{
	height: 100%; //Fill viewport height
}

body { 
	background: black;
}

p{
	margin-bottom: 10px;
}
img {
	max-width: 100%;
	height: auto;
}

div.statement{
	font-family: "Arial Black", sans-serif;
	font-size: 8vw;
	display: block;
	color: white;
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
	//margin-top: 45vh;
	
	p{
		position: absolute;
		z-index: 10;
		bottom: 10vh;
		line-height: 1;
		font-weight: bold;
	}
}

.content-wrap{
	transition: all 0.2s ease-in;

	&.show-menu{
		margin-top: 100px;
	}
}

/** Swiper **/
.swiper-container {
	height: 100%;
	width: 100vw;
}

.swiper-container-v{

	.swiper-slide{
		position: relative;
		z-index: 5;
	}
}

.swiper-button{
	height: 100%;
    top: 0px;
    background-color: rgba(0,0,0,0);

    &:hover{
    	background-color: rgba(0,0,0,0.3);
    }
}

.swiper-button-next{
	right: 0px;
	padding: 10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev{
	left: 0px;
	padding: 10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-down{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/directional25.svg');
}

/** End swiper **/

.fullpage{
	
	position: relative;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	float: left;
	
}

.navbar-header{
	float: right;
}

.navbar{
	background: rgba(0,0,0,0);
	border-bottom: 0;
	font-family: "Helvetica Lighter","Arial",sans-serif;
	text-align: right;

	li{
		display: inline-block;
		vertical-align: top;
	}

	.navbar-nav > li{

		&.open{
			a, a:hover, a:focus{
				background: rgba(0,0,0,0);
				color: white;
			}
		}

		 > a {
			color: white;
			background: rgba(0,0,0,0);
			&:focus,&:hover{
				color: #f1f1f1;

			}
		}
	}

	.navbar-collapse{
		border: 0;
		box-shadow: inset 0 0 0 rgba(255, 255, 255, 0);
	}

	.navbar-toggle{
		border: 0;
		padding: 15px 15px;

		.icon-bar{
			background-color: white;
		}
	}
}

.dropdown-menu{
	background-color: rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: white;
    border: 0px;
    text-align: center;
    min-width: 0px;
    height: auto;

 	> li{
 		display: block;

      	> a{
	     	color: white;
	     	padding: 7px;
	     	&:focus,&:hover{
				color: #f1f1f1;
				background: none;
			}

	     }
	 }
}

#child{
	background-image: url('../img/Ahmed-Aleppo-Web.jpg');

}

#village{
	background-image: url('../img/Gullmarstorp-Web.jpg');

	p{
		bottom: 20vh;
	}
}

#about,#contact{
	position: fixed;
	top: 0px;
	height: 0px;
	overflow: hidden;
	width: 100%;
	transition: all 0.2s ease-in;
	background: black;
	z-index: 11;

	&.pulldown{
		height: 100%;
		opacity: 0.7;
	}

}



.info{ 
	color: white;
	padding: 60px;
	font-family: "Helvetica",Arial,sans-serif;
	text-align: center;
	width: 100%;

	p{
		font-size: 20px;
		text-align: left;
		max-width: 700px;
		margin: auto;
		margin-bottom: 60px;
		line-height: 1.5;

		&.intro{
			font-size: 50px;
			padding: 0 20px;
			text-align: center;
			font-weight: 600;
			width: 100%;	
			line-height: 1;
		}
	}

	ul{
		font-size: 20px;

		li{
			margin-bottom: 10px;
		}
	}
}

.icons{

	text-align: center;
	width: 100%;


	.engage div{
		background-image: url('../img/fight_engage.svg');
	}

	.donate div{ 
		background-image: url('../img/donate_money.svg');
	}

	.engage, .donate{
		display: inline-block;
		width: 100px;
		height: 120px;
		margin: 0 20px;
		color: white;
		text-decoration: none;

		div{
			width: 100%;
			height: 80%;
			display: inline-block;
			background-size: 100%;
			background-repeat: no-repeat;
			
			background-color: white;
			border-radius: 50%;

		}
	}

	
}

@import "_mq.scss";