/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_mq.scss";

//@import "bootstrap/_bootstrap.scss";

*{
	box-sizing: border-box;
}

html,
body{
	height: 100%; //Fill viewport height
}

body { 
	background: black;
}

p{
	margin-bottom: 10px;
}
img {
	max-width: 100%;
	height: auto;
}

div.statement{
	font-family: "Arial Black", sans-serif;
	font-size: 8vw;
	display: block;
	color: white;
	text-align: center;
	position: relative;
	height: 100vh;
	width: 100%;
	//margin-top: 45vh;
	
	p{
		position: absolute;
		z-index: 10;
		bottom: 10vh;
		line-height: 1;
	}
}

/** Swiper **/
.swiper-container {
	height: 100vh;
	width: 100vw;
}

.swiper-container-v{

	.swiper-slide{
		position: relative;
		z-index: 5;
	}
}

.swiper-button{
	height: 100%;
    top: 0px;
    background-color: rgba(0,0,0,0);

    &:hover{
    	background-color: rgba(0,0,0,0.3);
    }
}

.swiper-button-next{
	right: 0px;
	padding: 10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev{
	left: 0px;
	padding: 10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

/** End swiper **/

.fullpage{
	
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	float: left;
	
}

.menu-button{

	opacity: 0.4;

	&:focus{
		outline:0;
	}

	&:hover{
		cursor: pointer;
		opacity: 1;
	}
}



#page1{
	background-image: url('../img/childsoldier-syria.jpg');

}

#page3{
	background-image: url('../img/zaatari.jpg');

	p{
		bottom: 50vh;
	}
}

#page4{

	p{
		bottom: 30vh;
	}
}

.info{ 
	color: white;
	padding: 60px;
	font-family: "Helvetica Bold",sans-serif;

	p{
		font-size: 20px;

		&.intro{
			font-size: 60px;
			margin: 50px 0;
			text-align: center;
			font-weight: 600;
		}
	}

	ul{
		font-size: 20px;

		li{
			margin-bottom: 10px;
		}
	}
}