/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/screen.scss */
html,
body {
  height: 100%;
}

/* line 20, ../sass/screen.scss */
body {
  background: black;
}

/* line 24, ../sass/screen.scss */
p {
  margin-bottom: 10px;
}

/* line 27, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

b{
  font-weight: bold;
}

@font-face {
  font-family: 'Univers';
  src: url('../fonts/Univers-CondensedBold.eot');
  src: url('../fonts/Univers-CondensedBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Univers-CondensedBold.woff2') format('woff2'),
       url('../fonts/Univers-CondensedBold.woff') format('woff'),
       url('../fonts/Univers-CondensedBold.ttf') format('truetype'),
       url('../fonts/Univers-CondensedBold.svg#Univers-CondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* line 32, ../sass/screen.scss */
.statement {
  font-family: "Arial Black", sans-serif;
  font-size: 8vw;
  display: block;
  color: white;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 43, ../sass/screen.scss */
.statement p {
  position: absolute;
  z-index: 10;
  bottom: 10vh;
  line-height: 1;
  font-weight: bold;
}

/* line 52, ../sass/screen.scss */
.content-wrap {
  transition: all 0.2s ease-in;
}
/* line 55, ../sass/screen.scss */
.content-wrap.show-menu {
  margin-top: 100px;
}

/** Swiper **/
/* line 61, ../sass/screen.scss */
.swiper-container {
  height: 100%;
  width: 100%;
}

/* line 68, ../sass/screen.scss */
.swiper-container-v .swiper-slide {
  position: relative;
  z-index: 5;
}

/* line 74, ../sass/screen.scss */
.swiper-button {
  height: 100%;
  margin-top: 0;
  top: 0px;
  width: 50px;
  background-color: transparent;
}
/* line 79, ../sass/screen.scss */
.swiper-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 84, ../sass/screen.scss */
.swiper-button-next {
  right: 0px;
  padding: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

/* line 90, ../sass/screen.scss */
.swiper-button-prev {
  left: 0px;
  padding: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

/* line 96, ../sass/screen.scss */
.swiper-button-down {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/directional25.svg");
}

.swiper-button-up {
  position: absolute;
  z-index: 1000;
  top: 10px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/directionup.svg");
}

/** End swiper **/
/* line 108, ../sass/screen.scss */
.fullpage {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  float: left;
}

/* line 119, ../sass/screen.scss */
.navbar-header {
  float: right;
}

/* line 123, ../sass/screen.scss */
.navbar {
  background: transparent;
  border-bottom: 0;
  font-family: "Helvetica Lighter","Arial",sans-serif;
  text-align: right;
  width: 320px;
  left: auto;
  right: 0;
}
/* line 129, ../sass/screen.scss */
.navbar li {
  display: inline-block;
  vertical-align: top;
}
/* line 137, ../sass/screen.scss */
.navbar .navbar-nav > li.open a, .navbar .navbar-nav > li.open a:hover, .navbar .navbar-nav > li.open a:focus {
  background: transparent;
  color: white;
}
/* line 143, ../sass/screen.scss */
.navbar .navbar-nav > li > a {
  color: white;
  background: transparent;
}
/* line 146, ../sass/screen.scss */
.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
  color: #f1f1f1;
}
/* line 153, ../sass/screen.scss */
.navbar .navbar-collapse {
  border: 0;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0);
}
/* line 158, ../sass/screen.scss */
.navbar .navbar-toggle {
  border: 0;
  padding: 15px 15px;
}
/* line 162, ../sass/screen.scss */
.navbar .navbar-toggle .icon-bar {
  background-color: white;
}

/* line 168, ../sass/screen.scss */
.dropdown-menu {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  color: white;
  border: 0px;
  text-align: left;
  min-width: 0px;

  height: auto;
}
/* line 177, ../sass/screen.scss */
.dropdown-menu > li {
  display: block;
}
/* line 180, ../sass/screen.scss */
.dropdown-menu > li > a {
  color: white;
  padding: 4px 12px;
}
/* line 183, ../sass/screen.scss */
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #f1f1f1;
  background: none;
}

/* line 192, ../sass/screen.scss */
.soldier{
  background-image: url("../img/Ahmed-Aleppo-Web.jpg");
}

/* line 197, ../sass/screen.scss */
.gullmarstorp {
  background-image: url("../img/Gullmarstorp-Web.jpg");
}
/* line 200, ../sass/screen.scss */
.gullmarstorp p {
  margin-bottom: 40vh;
  width: 100%; 
  text-align: center;
}

/* line 197, ../sass/screen.scss */
.erik {
  background-image: url("../img/Syrian-Kid-Web.jpg");
}
/* line 200, ../sass/screen.scss */
.erik p {
  bottom: 20vh;
  font-size: 80%;
}

/* line 197, ../sass/screen.scss */
.johanna {
  background-image: url("../img/Kid-Draw-Web.jpg");
}
/* line 200, ../sass/screen.scss */
.johanna p {
  bottom: 30vh;
}
.festival {
  background-image: url("../img/Festival-Web.jpg");
}
/* line 200, ../sass/screen.scss */
.festival p {
  bottom: 45vh;
  width: 100%;
  text-align: center;
}
.sunny {
  background-image: url("../img/bodybag.jpg");
}
/* line 200, ../sass/screen.scss */
.sunny p {
  bottom: 45vh;
  width: 100%;
  text-align: center;
}
.teddy {
  background-image: url("../img/Teddy-Girl-Web.jpg");
  background-position: right;
}
/* line 200, ../sass/screen.scss */
.teddy p {
  bottom: 40vh;
  width: 100%;
  text-align: center;
}

/* line 205, ../sass/screen.scss */
.page{
  position: fixed;
  top: 0px;
  height: 0px;
  overflow: hidden;
  width: 100%;
  transition: all 0.2s ease-in;
  background: black;
  z-index: 11;
  color: white;
  display: inline-block;
  text-align: center;
}

.page h2{
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  max-width: 700px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #eee;
}

.page p{
  font-family: Helvetica, Arial, sans-serif;
  max-width: 500px;
  width: 90%;
  margin: 20px auto;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: lighter;
  text-align: justify;
  color: #eee;
}

#contact p,#contact h2{
  text-align: center;
}

#contact p{

}

#contact a{
  color: white;
  font-size: 80%;
}

/* line 215, ../sass/screen.scss */
.page.pulldown {
  height: 100%;
  background: rgba(0,0,0,0.9);

}

.page .content{
  max-width: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.page .hyper{
  font-family: "Univers",sans-serif;
}

/* line 224, ../sass/screen.scss */
.info {
  color: white;
  padding: 60px;
  font-family: "Helvetica",Arial,sans-serif;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 231, ../sass/screen.scss */
.info p {
  font-size: 1.04rem;
  text-align: left;
  max-width: 700px;
  margin: auto;
  margin-bottom: 60px;
  line-height: 1.3;
  font-weight: lighter;
}
/* line 239, ../sass/screen.scss */
.info p.intro {
  font-size: 50px;
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  line-height: 1;
}

.info a{
  color: white;
}

/* line 249, ../sass/screen.scss */
.info ul {
  font-size: 20px;
}
/* line 252, ../sass/screen.scss */
.info ul li {
  margin-bottom: 10px;
}

/* line 258, ../sass/screen.scss */
.icons {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 264, ../sass/screen.scss */
.icons .engage div {
  background-image: url("../img/fight_engage.svg");
}
/* line 268, ../sass/screen.scss */
.icons .donate div {
  background-image: url("../img/donate_money.svg");
}
/* line 272, ../sass/screen.scss */
.icons .engage, .icons .donate {
  display: inline-block;
  width: 60px;
  height: 75px;
  margin: 0 20px;
  color: #f1f1f1;
  text-decoration: none;
  position: relative;
  font-weight: lighter;
}
  
.icons .caption{
  display: none ;
  position: absolute;
  top: -40px;
  color: white;
  padding: 10px;
  left: -84px;
  width: 230px;
  text-align: center;
}

.engage:hover .caption, .donate:hover .caption{
  display: block;
} 

/* line 280, ../sass/screen.scss */
.icons .engage div, .icons .donate div {
  width: 100%;
  height: 80%;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-bottom: 10px;
}

.engage:hover div, .donate:hover div{
  background-color: white;
}

/* Portrait */
@media only screen and (orientation: portrait) {
  /* line 11, ../sass/_mq.scss */
  .fullpage a.statement p {
    bottom: 40vh;
  }
}
@media (max-width: 767px) {
  .navbar{
    width: 100%;
    left: 0;
  }

  /* line 21, ../sass/_mq.scss */
  .navbar-default .navbar-collapse {
    float: left;
  }
  /* line 25, ../sass/_mq.scss */
  .navbar-default .navbar-nav {
    margin-top: 13px;
  }
  /* line 28, ../sass/_mq.scss */
  .navbar-default .navbar-nav li {
    display: inline-block;
    float: left;
  }
  /* line 32, ../sass/_mq.scss */
  .navbar-default .navbar-nav li a {
    padding: 5px 7px;
  }
  /* line 37, ../sass/_mq.scss */
  .navbar-default .navbar-nav .dropdown {
    position: static;
  }
  /* line 43, ../sass/_mq.scss */
  .navbar-default .navbar-nav .open .dropdown-menu {
    position: absolute;
    width: 100%;
    margin-top: -20px;
    top: 80%;
  }
  /* line 49, ../sass/_mq.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    display: block;
    float: left;
  }
  /* line 52, ../sass/_mq.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 700px) {
  /* line 66, ../sass/_mq.scss */
  .info {
    padding: 10px;
  }
  /* line 68, ../sass/_mq.scss */
  .info p {
    padding: 0 30px;
  }
  /* line 70, ../sass/_mq.scss */
  .info p.intro {
    font-size: 24px;
    margin-top: 60px;
  }

  /* line 77, ../sass/_mq.scss */
  .icons {
    position: absolute;
    bottom: 15px;
  }
  /* line 81, ../sass/_mq.scss */
  .icons .engage, .icons .donate {
    width: 70px;
    height: 60px;
    text-align: center;
  }
  /* line 86, ../sass/_mq.scss */
  .icons .engage div, .icons .donate div {
    height: 44px;
    width: 44px;
  }
}
