/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Portrait */
@media only screen and (orientation: portrait) {
  /* line 11, ../sass/_mq.scss */
  .fullpage a.statement p {
    bottom: 40vh;
  }
}
/* line 11, ../sass/screen.scss */
body {
  background: black;
}

/* line 15, ../sass/screen.scss */
p {
  margin-bottom: 10px;
}

/* line 19, ../sass/screen.scss */
div.statement {
  font-family: "Arial Black", sans-serif;
  font-size: 8vw;
  display: block;
  color: white;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
}
/* line 30, ../sass/screen.scss */
div.statement p {
  position: absolute;
  z-index: 10;
  bottom: 10vh;
  line-height: 1;
}

/** Swiper **/
/* line 39, ../sass/screen.scss */
.swiper-container {
  height: 100vh;
  width: 100vw;
}

/* line 46, ../sass/screen.scss */
.swiper-container-v .swiper-slide {
  position: relative;
  z-index: 5;
}

/* line 52, ../sass/screen.scss */
.swiper-button {
  height: 100%;
  top: 0px;
  background-color: transparent;
}
/* line 57, ../sass/screen.scss */
.swiper-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 62, ../sass/screen.scss */
.swiper-button-next {
  right: 0px;
  padding: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

/* line 68, ../sass/screen.scss */
.swiper-button-prev {
  left: 0px;
  padding: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23202020'%2F%3E%3C%2Fsvg%3E");
}

/** End swiper **/
/* line 76, ../sass/screen.scss */
.fullpage {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  float: left;
}

/* line 88, ../sass/screen.scss */
.menu-button {
  opacity: 0.4;
}
/* line 92, ../sass/screen.scss */
.menu-button:focus {
  outline: 0;
}
/* line 96, ../sass/screen.scss */
.menu-button:hover {
  cursor: pointer;
  opacity: 1;
}

/* line 104, ../sass/screen.scss */
#page1 {
  background-image: url("../img/childsoldier-syria.jpg");
}

/* line 109, ../sass/screen.scss */
#page3 {
  background-image: url("../img/zaatari.jpg");
}
/* line 112, ../sass/screen.scss */
#page3 p {
  bottom: 50vh;
}

/* line 119, ../sass/screen.scss */
#page4 p {
  bottom: 30vh;
}

/* line 124, ../sass/screen.scss */
.info {
  color: white;
  padding: 60px;
  font-family: "Helvetica Bold",sans-serif;
}
/* line 129, ../sass/screen.scss */
.info p {
  font-size: 20px;
}
/* line 132, ../sass/screen.scss */
.info p.intro {
  font-size: 60px;
  margin: 50px 0;
  text-align: center;
  font-weight: 600;
}
/* line 140, ../sass/screen.scss */
.info ul {
  font-size: 20px;
}
/* line 143, ../sass/screen.scss */
.info ul li {
  margin-bottom: 10px;
}
